.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 95px;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}
.address {
  max-width: 240px;
  max-height: 98px;
  justify-self: end;
}

.header__logo {
  width: 148px;
  height: 105px;
}
.h3-contact-info {
  margin: 1px;
}
.nav-address {
  width: 236, 49;
  height: 49;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 1px;
  text-decoration: none;
}
.nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: #333;
  position: relative;
  padding-right: 13px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.header__links-list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.header__menu-item-active .nav-link {
  text-decoration: none;
  list-style: circle;
}

.a-contact {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.5px;
}

.cover {
  width: 100%;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  margin-top: 95px;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 98px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 31px;
}
.span-right {
  align-self: flex-end;
  font-size: 100px;
  margin-right: 20px;
  padding-top: 20px;
}
.span-center {
  align-self: center;
  padding-left: 26px;
  padding-top: 20px;
}
.span-left {
  align-self: flex-start;
  padding-top: 165px;
  margin-left: 50px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 50px;
}
.p-description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding-left: 50px;
  word-spacing: 18px;
}
.button-description {
  width: 256px;
  height: 51px;
  border: 2px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  margin-left: 107px;
}
.lots {
  margin: 180px 24px 120px 24px;
  position: relative;
}
.title-lots {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  margin-left: 40px;
  margin-bottom: 27px;
}
.lots__card-list {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 30px;
  list-style: none;
}
.lots__card-list-item {
  min-height: 596px;
  min-width: 334px;
}
.card-link {
  height: 100%;
}
.card {
  height: 100%;
  max-width: 334px;
}
.card-films {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center center;
}
.card-books {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center center;
  background-size: cover;
}
.card-images {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center center;
  background-size: cover;
}
.card-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: white;
  padding: 48px 40px 0 40px;
}
.card-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: white;
  padding: 0 40px 48px 40px;
}
.p-more {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-left: 40px;
}
.about {
  grid-template-columns: 1fr 3fr;
  display: grid;
  height: 100%;
  margin: 155px 30px 155px 70px;
}
.about-title {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
}
.about-logo {
   padding-top: 35px;
  padding-left: 47px;
  padding-bottom: 12px;
  margin-right: 72px;
  width: 240px;
  height: 240px;
  background: black;
  background-image: url(../images/logo-white.svg);
  background-size: 148px 114px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.about-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  margin-right: 24px;
  padding-bottom: 30px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.footer-menu {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  text-align: center;
}
.footer__menu-item-active .nav-link {
  text-decoration: none;
}
.footer__links-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  list-style: none;
}
.footer-address {
  max-width: 240px;
  max-height: 98px;
  margin-left: 50px;
  justify-self: start;
}
.footer__nav-address {
  width: 300px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 1px;
  text-decoration: none;
}
.social-network-logo {
  width: 240px;
  height: 48px;
  background-size: cover;
}
.footer-list-social {
  display: flex;
  width: 240px;
  justify-content: space-between;
  align-items: end;
  list-style: none;
  margin-right: 50px;
}
.footer-social-icon-youtube {
  width: 48px;
  height: 48px;
  background-image: url(../images/yt.svg);
}
.footer-social-icon-vk {
  width: 48px;
  height: 48px;
  background-image: url(../images/vk.svg);
}

.footer-social-icon-pintres {
  width: 48px;
  height: 48px;
  background-image: url(..//images/pinterest.svg);
}